* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.container {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0f172a;
}
nav {
  height: 8rem;
  line-height: 2rem;
}
nav .text-nav {
  display: flex;
  align-items: center;
}
nav .text-nav a {
  text-decoration: none;
  margin: 0 2rem;
  text-align: center;
  align-items: center;
  color: white;
  transition: 0.2s ease-in-out;
  border-color: #e3e57c;
}

nav .container h1 {
  color: white;
}

nav .text-nav a:hover {
  border-bottom: 2px solid #e3e57c;
}

.cta {
  display: flex;
  align-items: center;
  height: 3rem;
}
nav .cta a {
  display: inline-block;
  text-decoration: none;
  color: #f9fbfa;
  background-color: #12d188;
  height: 2rem;
  border-radius: 1rem;
  line-height: 2rem;
  font-size: 10px;
  padding: 0 1rem;
  transition: 0.3s ease-in-out;
}

nav .cta a:hover {
  transform: translateY(-3px);
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000646;
}

body {
  background-color: #0f172a;
}

#hero {
  position: relative;
}

.container-hero {
  width: 100%;
  height: 600px;
  background-color: #0f172a;
}

.container-hero .item-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.container-hero .item-hero h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  position: relative;
  z-index: 1;
}

.container-hero .item-hero h1::after {
  content: "";
  width: 100%;
  height: 0.7rem;
  position: absolute;
  background-color: #e3e57c;
  display: block;
  bottom: 10px;
  right: 0px;
  z-index: -1;
}

.container-hero .item-hero h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.item-hero a {
  text-decoration: none;
  color: #fff;
  background-color: #12d188;
  display: inline-block;
  width: 15rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.item-hero a:hover {
  background-color: #000646;
  transform: scale(1.06);
  transition: 0.3s ease-in-out;
}

.hero img:nth-child(1) {
  display: none;
}
.hero img:nth-child(2) {
  display: none;
}

.container-about {
  margin: 4rem auto 0;
  padding-bottom: 2rem;
}

.container-about .item-about {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
  align-items: center;
}

.container-about .item-about .bio h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  width: 13rem;
  color: white;
}

.item-about .bio h1::after {
  content: "";
  width: 100%;
  align-items: flex-end;
  height: 0.7rem;
  position: absolute;
  background-color: #e3e57c;
  display: flex;
  bottom: 10px;
  right: 0px;
  z-index: -1;
}

.container-about .item-about .bio p {
  font-size: 15px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  /* width: 13rem; */
  color: white;
}

.container-about .item-about img {
  /* border: 1px solid black; */
  height: 20rem;
}

.element img:nth-child(1) {
  position: absolute;
  left: 72rem;
  top: 6rem;
}

.element img:nth-child(2) {
  position: absolute;
  top: 60rem;
  left: 50rem;
}

.bio .sosmed {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
}

.bio .sosmed a {
  text-decoration: none;
  font-size: 25px;
  padding-right: 1rem;
  color: white;
}

.bio .sosmed a:nth-child(1):hover {
  color: #a900a9;
}
.bio .sosmed a:nth-child(2):hover {
  color: #2f00ff;
}
.bio .sosmed a:nth-child(3):hover {
  color: #5bc8ff;
}

.item-project {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
}

.item-project h1 {
  font-size: 42px;
  color: #fff;
  z-index: 1;
  position: relative;
  margin: 0rem auto 2rem;
}

.item-project h1::after {
  content: "";
  width: 100%;
  align-items: flex-end;
  height: 0.7rem;
  position: absolute;
  background-color: #e3e57c;
  display: flex;
  bottom: 10px;
  right: 0px;
  z-index: -1;
}

.swiper {
  width: 30rem;
  height: 20rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 30rem;
  position: relative;
  z-index: 1;
}

.swiper-slide img {
  object-fit: cover;
  margin: 1rem auto;
  border: 2px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 2.9rem;
  height: 2.9rem;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.link {
  display: flex;
  justify-content: center;
}

.link a {
  text-decoration: none;
  color: black;
}

.link h6 {
  padding-right: 0.5rem;
}

.container-contact {
  width: 100%;
  height: 600px;
}

.item-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

.item-contact .judul-contact h1 {
  font-size: 42px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.item-contact .judul-contact h1::after {
  content: "";
  width: 100%;
  align-items: flex-end;
  height: 0.7rem;
  position: absolute;
  background-color: #e3e57c;
  display: flex;
  bottom: 10px;
  right: 0px;
  z-index: -1;
}

.form {
  margin: 1rem auto 0;
  border: 2px solid white;
  width: 30%;
  height: 22rem;
  border-radius: 1rem;
}

.item-contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item-contact input {
  width: 90%;
  margin: 1rem;
  height: 3rem;
}

.item-contact input[type="text box"] {
  height: 7rem;
}

input[type="text"] {
  padding: 0 0.5rem;
  font-size: 12px;
  border: none;
  background-color: #35389d;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
}

input::placeholder {
  color: #fff;
}
input[type="password"] {
  padding: 0 0.5rem;
  font-size: 12px;
  border: none;
  background-color: #35389d;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
}

input[type="text box"] {
  padding: 0 0.5rem;
  font-size: 12px;
  border: none;
  background-color: #35389d;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
  text-align: start;
  display: flex;
}

button {
  display: block;
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #e3e57c;
  cursor: pointer;
}
button:hover {
  background-color: #5bc8ff;
  transition: 0.3s ease-in-out;
}

.container-contact {
  position: relative;
}

.container-contact img:nth-child(1) {
  position: absolute;
  top: 100px;
  left: 80px;
}

.skill-judul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.skill-judul h1 {
  font-size: 40px;
  position: relative;
  z-index: 1;
  width: auto;
  color: #fff;
}

.skill-judul h1::after {
  content: "";
  width: 100%;
  height: 0.7rem;
  position: absolute;
  background-color: #e3e57c;
  display: block;
  bottom: 10px;
  right: 0px;
  z-index: -1;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 50px;
  margin: 7rem auto 2rem;
  padding-bottom: 1rem;
}

.container-grid img {
  height: 10rem;
  width: auto;
  margin-bottom: 1rem;
}

.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}
.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}
.item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}
.item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}

.item5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}

.item6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.25);
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #fff;
}

footer {
  height: 20rem;
  background-color: #010038;
  z-index: 2;
  color: #fff;
}

footer .footer-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  border-bottom: 2px solid white;
  /* width: 100%; */
}
footer .footer-content h2 {
  font-size: 40px;
  color: #fff;
}

footer h4 {
  color: #fff;
}

footer .footer-content .icon {
  font-size: 40px;
  margin: 1rem 1rem;
}
footer .footer-content i {
  margin: 0 1rem;
  cursor: pointer;
  color: #fff;
}

footer .footer-content i:hover {
  color: #9000ff;
}

footer h4 {
  color: #35389d;
  text-align: center;
  font-weight: 300;
  margin: 1rem;
}

.item-swiper2 {
  display: block;
  background-color: #000646;
}
